{% extends 'base.html' %}

{% block title %}Admin Panel{% endblock %}

{% block content %}
<h1>Admin Panel</h1>
<h2>Bungalows beheren</h2>
<a href="{{ url_for('admin_bookings') }}">Beheer Boekingen</a>
<form method="POST">
    <table>
        <tr>
            <th>Naam</th>
            <th>Prijs per week</th>
            <th>Acties</th>
        </tr>
        {% for bungalow in bungalows %}
        <tr>
            <td>{{ bungalow.name }}</td>
            <!-- Haal de prijs per week op via de relatie -->
            <td>€{{ bungalow.bungalow_type.price_per_week }},-</td>
            <td>
                <input type="text" name="new_name" placeholder="Nieuwe naam" value="{{ bungalow.name }}">
                <input type="number" name="new_price" placeholder="Nieuwe prijs" value="{{ bungalow.bungalow_type.price_per_week }}">
                <input type="hidden" name="bungalow_id" value="{{ bungalow.id }}">
                <button type="submit">Bijwerken</button>
            </td>
        </tr>
        {% endfor %}  <!-- Zorg ervoor dat de for-lus correct wordt afgesloten -->
    </table>
</form>
{% endblock %}
